node_modules/
**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/build/
**/bld/
**/x64/
**/x86/

bin/
obj/
*.user
*.suo
.vs/


.vs/
**/.vs/

*.user
*.suo
*.userosscache
*.sln.docstates



.vscode/
**/.vscode/



.idea/
**/.idea/



packages/
**/packages/

.nuget/
**/.nuget/

*.nupkg
*.snupkg



logs/
**/logs/

*.log
*.log.*



ScaffoldingReadMe.txt



*.mdf
*.ldf



appsettings.Development.json
appsettings.Local.json
appsettings.Production.json
appsettings.json



.env
.env.*

secrets.json


.DS_Store
Thumbs.db
Desktop.ini



TestResults/
**/TestResults/

coverage/
**/coverage/

*.trx



publish/
**/publish/



.qodo/
**/.qodo/



**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.packages


**/Frontend/agrotrade_frontend/ios/Flutter/Generated.xcconfig
**/Frontend/agrotrade_frontend/ios/Flutter/ephemeral/
**/Frontend/agrotrade_frontend/ios/Flutter/flutter_export_environment.sh
**/Frontend/agrotrade_frontend/ios/Runner/GeneratedPluginRegistrant.*



Frontend/agrotrade_frontend/android/.gradle/
Frontend/agrotrade_frontend/.gradle/
Frontend/agrotrade_frontend/android/local.properties


Frontend/agrotrade_frontend/ios/Pods/


.gradle/
**/.gradle/


Frontend/agrotrade_frontend/.flutter-plugins
Frontend/agrotrade_frontend/.flutter-plugins-dependencies
Frontend/agrotrade_frontend/.dart_tool/
